@value makerWhite,bgColor,makerLightYellow from "../../res/color.css";

.button {
  padding: 1rem;
  font-size: 3rem;
  color: makerWhite;
  background-color: bgColor;
  font-family: "Gaegu-Bold";
  transition: all 0.1s;
}
.button:hover {
  transform: scale(1.1);
  color: makerLightYellow;
}
