@value bgColor from "../../res/color.css";

.result_container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 10%;
  font-family: "Gaegu-Bold";
}
.btn_home {
  top: 10%;
  right: 10%;
  position: absolute;
  color: bgColor;
}
.result_container img {
  width: 25%;
}
.result_container h1 {
  font-size: 4rem;
}
.result_container span {
  font-size: 2rem;
  font-family: "Gaegu-Medium";
  white-space: pre-wrap;
  line-height: 3rem;
}
.result_container__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.result_container__button {
  margin: 0 2%;
}
.result_container__button span {
  font-size: 100%;
  font-family: "Gaegu-Bold";
}

@media (max-width: 960px) {
  .result_container__buttons {
    flex-direction: column;
  }

  .result_container__button {
    margin: 2% 0;
  }
}
