@value makerRed from "../../res/color.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Gaegu-Bold";
}
.name {
  font-size: 3.5rem;
}

.help {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  color: makerRed;
  font-family: "Gaegu-Medium";
}
.help img {
  width: 4rem;
  margin-right: 0.3rem;
}
.trash_img {
  height: 25rem;
  display: flex;
  align-items: center;
}

.trash_img img {
  width: 15rem;
  max-height: 20rem;
  cursor: pointer;
}
.bins {
  display: flex;
}
