.trash_can {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trash_can img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}
.trash_can span {
  margin-top: 1rem;
  font-size: 1.5rem;
}
