@value makerWhite,bgColor from "../../res/color.css";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Gaegu-Light";
}
.container h1 {
  font-family: "Gaegu-Bold";
  font-size: 5rem;
}
.container p {
  font-size: 2rem;
}

.characters img {
  width: 10%;
  margin: 1rem;
}

.characters {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}
