@value bgColor from "../../res/color.css";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  position: relative;
}
.btn_home {
  top: 0;
  right: 10rem;
  position: absolute;
  color: bgColor;
}
.container img {
  width: 20rem;
}

.container h1 {
  font-size: 4rem;
  font-family: "Gaegu-Bold";
}
.container span {
  font-size: 2rem;
  font-family: "Gaegu-Medium";
  white-space: pre-wrap;
  line-height: 3rem;
}
.buttons {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}
.button {
  margin: 0 2rem;
}
.button span {
  font-size: 3rem;
  font-family: "Gaegu-Bold";
}
