@value makerGreen,makerLightGreen from "../../res/color.css";

.answer_item_container {
  padding: 1.5rem 2.5rem;
}
.answer_item_container__top {
  display: flex;
  align-items: center;
}
.answer_item_container__top span {
  font-size: 2rem;
  font-family: "Gaegu-Medium";
}
.answer_item_container__trash_can {
  display: flex;
  align-items: center;
}
.answer_item_container__trash_can span {
  margin-left: 2rem;
  color: makerGreen;
  font-family: "Gaegu-Bold";
}
.answer_item_container__trash_can div {
  padding-bottom: 1rem;
}
.answer_item_container__trash_can img {
  width: 5rem;
}
.answer_item_container__detail {
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color: makerLightGreen;
  border-radius: 0.5rem;
}
.answer_item_container__detail p {
  white-space: pre-wrap;
  line-height: 3rem;
}

@media (max-width: 960px) {
  .answer_item_container__top {
    flex-direction: column;
  }
}
