@value bgColor from "../../res/color.css";
.gauge_container {
  width: 100%;
  height: 1rem;
  border: 0.1rem solid bgColor;
}
.step {
  letter-spacing: 0.5rem;
  font-family: "Gaegu-Medium";
}
.gauge {
  background-color: bgColor;
  height: 100%;
  transition: width 1s;
}
